<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block
        th:replace="~{email/fragments/head :: head('Reset Password')}"
/>

<body>

<table class="container" role="presentation" width="100%">
    <tr>
        <td>

            <table class="email-card" role="presentation" width="100%">

                <th:block
                        th:replace="
                            ~{email/fragments/header :: header(${appName})}
                        "
                />

                <tr>
                    <td class="content">

                        <h2>Reset your password</h2>

                        <p>
                            Hello
                            <strong th:text="${name}">User</strong>,
                        </p>

                        <p>
                            We received a request to reset your password.
                        </p>

                        <th:block
                                th:replace="
                                    ~{email/fragments/button
                                    :: button(
                                        'Reset Password',
                                        ${link}
                                    )}
                                "
                        />

                        <p>
                            This password reset link will expire in
                            <strong th:text="${expiryMinutes}">
                                15
                            </strong>
                            minutes.
                        </p>

                        <p>
                            If you did not request this password reset,
                            you can safely ignore this email.
                        </p>

                    </td>
                </tr>

                <th:block
                        th:replace="
                            ~{email/fragments/footer
                            :: footer(${appName})}
                        "
                />

            </table>

        </td>
    </tr>
</table>

</body>
</html>